header img{
    width: 143px;
    height: 143px;
    position: absolute;
    left: 20px;
    top: 20px;
}
header{
    background: blue;
    padding-left: 30%;
    padding: 80px;
}
nav a{
margin:60px 0px 60px 90px;
font-size: 30px;
}
h1{
    margin:80px 60px;
    font-size: 60px;
}
.pizza{
    left: 18%;
    position: relative;
    margin-top: 20px;
   width: 432px ;
   height: 380px ;
}
.pizzaheader{
position: absolute;
width: 40%;
margin: 0%;
top: 50%;
}
.pizza2{
    width: 408px;
    height: 333px;
}
body{
    font-family:serif ;
}
.pizza3{
    width: 408px;
    height: 333px;
}
.pizza4{
    width: 408px;
    height: 333px;
}
.pizza5{
    margin-bottom: 160px;
    width: 184px;
    height: 184px;
}
.lemonade{
    margin-bottom: 160px;
    margin-right: 40px;
    width: 184px;
    height: 184px;
}
.salat{
    margin-bottom: 160px;
    margin-right: 40px;
    width: 184px;
    height: 184px;
}
.sales{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
    font-size: 30px;
}
.sales img{
margin: 10px;
border-radius: 50%;
}

.Menu{
    position: absolute;
    top: 60%;
    left: 20%;
}
.knock{
    position: absolute;
    top: 60%;
}
.pizzaheader2{
    margin-left:600px ;
    margin-top:60px ;
    font-size: 40px;
}
.Bytton{
    background-color: orange;
    margin-left: 10%;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color:black;
}
.pizza_box{
margin-top: 100px;
display: flex;
justify-content: left;
}
.pizza_box p{
    display: inline;
    width: 150px;
    overflow-wrap: break-word;
    margin-left: 20px;
    font-size: 20px;
}
.phone_number{
    text-decoration: none;
    color:black;
}
.product{
    background-color: orange;
    font-size: larger;
}
footer{
    background-color: orange;
}
.tik{
    height: 59px;
    width: 56px;
}
.insta{
   height: 59px;
   width: 56px;
}
.logo9{
    height: 160px;
    width: 213px;
    position: absolute;
    left: 80%;
}
.sale{
    text-decoration: none;
    color: black;
}